   <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#303030] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_330)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
                    fill="currentColor"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_330"><rect width="48" height="48" fill="white"></rect></clipPath>
                </defs>
              </svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">tattoocionci</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="/"  routerLink="/"><span class="truncate" (click)="goToHome()">Inicio</span></a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Cursos</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Citas</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Mentoría</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Categorías</a>
            </div>
            <nav>
                    <button
            routerLink="/login"
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#141414] text-white text-sm font-bold leading-normal tracking-[0.015em]"
          >
            <span class="truncate" (click)="goToLogin()">Accede</span>
          </button>
          </nav>
          </div>
        </header>